@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Roboto:wght@700&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #eee;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #eee;
}
.h4{
    font-size: 20px;
    color: #eee;

}
h6{
    font-weight: 600;
    font-size: 12px;
}
.p{
    font-size: 16px;
    color: #eee;
    margin: 15px 0 20px 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header .logo{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 600;
    width: 59px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar .btn{
    margin-right: 5px !important;
}
#navbar li a:hover,
#navbar li a.active
{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: '';
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#hero{
    color: #eee;
    background-image: url('./image/landing.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    border: 0;
    color: #088178;
    font-size: 18px;
    font-weight: 700;
    background-color: #FEAE29;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
    transition: 0.5s;

}
#hero button:hover{
    background: #f1c40f;

}
.categories{
    margin: 70px 0;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col{
   flex-basis: 31%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    /* background: #E3E6F3; */
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #041e42;
    padding: 50px 50px 50px 50px;
    /* margin: 10px 10px 10px 10px; */
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 4%;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    height: 3.125rem;
    padding: 0 1.25em;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
    background: #eee;

}
footer .col{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

footer h4{
    color: #333;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 700;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .logo{
    text-decoration: none;
    color: #333;
    font-size: 35px;
    width: 59px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 15px;
    cursor: pointer;
    
}
footer .follow i:hover,
footer a:hover
{
    color: #088178;
}
footer .install .row img{
    width: 150px;
    border: 1px solid #088178;
    border-radius: 6px;

}
footer .install img{
    width: 150px;
    margin: 10px 0 15px 0;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
@media (max-width:799px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    
}
.modal-title{
    background: #2c3e50;
    color: #eee;
   
}
.modal-body{
    background: #E3E6F3;

}
.container{
    padding: 40px 40px 40px 40px;
    width: 50%;
    height: 120vh;
}
.success{
    background: #2ecc71;
    text-align: center;
    font-weight: 600;
    padding: 20px;
    border-radius: 2px;
   margin-bottom: 10px;
}

